<table>
    <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Actions</td>
        <td>Source</td>
        <td>Settings</td>
    </tr>
    {{- if not . }}
    <tr><td colspan="5">No streams</td></tr>
    {{- end }}
    {{- range . }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Status }}</td>
        <td>
            {{- $name := .Name }}
            {{- range .Actions }}
            <a href="/{{ . }}/{{ $name }}">{{ . }}</a>
            {{- end }}
        </td>
        <td>{{ .Source }}</td>
        <td>
            startpos:{{ .StartPosition }}
            {{ if ge .VideoChannel 0 }}video:{{ .VideoChannel }}{{ end }}
            {{ if ge .AudioChannel 0 }}audio:{{ .AudioChannel }}{{ end }}
            {{ if ge .SubtitleChannel 0 }}subtitle:{{ .SubtitleChannel }}{{ end }}
        </td>
    </tr>
    {{- end }}
</table>
<a href="/launch">Launch a new stream</a> | <a href="/probe">Probe source</a>