<table>
    <tr>
        <td>Name</td>
        <td>Status</td>
        <td>Actions</td>
        <td>Source</td>
        <td>StartPosition</td>
        <td>Audio</td>
        <td>Subtitle</td>
    </tr>
    {{- if not . }}
    <tr><td colspan="7">No streams</td></tr>
    {{- end }}
    {{- range . }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Status }}</td>
        <td>
            {{- $name := .Name }}
            {{- range .Actions }}
            <a href="/{{ . }}/{{ $name }}">{{ . }}</a>
            {{- end }}
        </td>
        <td>{{ .Source }}</td>
        <td>{{ .StartPosition }}</td>
        <td>{{ .Audio }}</td>
        <td>{{ .Subtitle }}</td>
    </tr>
    {{- end }}
</table>
<a href="/launch">Launch a new stream</a> | <a href="/probe">Probe source</a>